[Unit]
Description=Check temperature and stop/start fan every minute
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=false
OnBootSec=120
OnUnitActiveSec=60
Unit=fan-control.service

[Install]
WantedBy=timers.target
